.settings,
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  width: 100%;
  min-height: 100vh;
}

.booksSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 10vh;
  background-color: beige;
}

.booksCards {
  padding: 1em;
}
